<%#
# created by tapan. Last modified on 04/05/2012
# This is view page for creating new user
%>

<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
<div>
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>
<div>
<%= f.label :email %><br />
<%= f.text_field :email %>
</div>
<div>
<%= f.label :password %><br />
<%= f.password_field :password %>
</div>
<div>
<%= f.label :password_confirmation, "Confirmation" %><br />
<%= f.password_field :password_confirmation %>
</div>

<div>
<%= f.label :dob, "Date of Birth" %><br />
<%= f.text_field :dob %>
</div>
<div class="actions">
<%= f.submit "Sign up" %>
</div>
<% end %>



